.root {
  //   position: absolute;
  display: flex;
  height: 100%;
  //   padding: 10px;
}

.inner {
  flex-flow: column nowrap;
  flex: 1;
  align-items: start;
  justify-content: center;
  padding: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-md);
  background-color: var(--mantine-color-dark-6);
  overflow: hidden;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}
.isTarget {
  box-shadow: #9382ff 0px 0px 4px 4px !important;
}

.isHover {
  border-color: rgba(0, 0, 0, 0.8);
}

.overflowed {
  -webkit-mask-image: linear-gradient(to bottom, rgba(46, 46, 46, 1) 75%, rgba(0, 0, 0, 0));
}
