@import "@styles/global.scss";

.adapt {
  display: flex;
  flex-flow: column nowrap;

  @media (min-width: 48em) {
    flex-flow: row nowrap;
    & > img {
      max-width: 50%;
    }
    & > div {
      flex: 1 1 50%;
    }
  }
}
