@import "@styles/mixins.scss";

// TODO нужно прокидывать в миксин текущее значение ширины колонки
.cont {
  position: relative;
  width: 100%;
  max-width: 100%;
  @include cute-scroll-horis(140px);
}

.table {
  display: grid;
  max-width: 100%;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  tr {
    display: grid;
    max-width: 100%;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
  }

  thead {
    display: grid;
    margin-bottom: var(--mantine-spacing-md);
    border-top-left-radius: var(--mantine-radius-md);
    border-top-right-radius: var(--mantine-radius-md);

    tr {
      & th {
        display: flex;
        align-items: center;
        padding: 8px;
        user-select: none;
        font-weight: 500;
        text-align: left;

        &:first-of-type {
          border-top-left-radius: var(--mantine-radius-md);
        }

        & > * {
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }
    }
  }
  tbody {
    display: grid;
    tr {
      & td {
        align-items: baseline;
        display: flex;
        padding: 8px;
      }
      &:hover {
        background-color: var(--mantine-color-dark-8);
      }
      &:nth-child(2n) {
        background-color: var(--mantine-color-dark-light-hover);
      }
      &:last-of-type {
        & td:first-of-type {
          border-bottom-left-radius: var(--mantine-radius-md);
        }
      }
    }
  }
}

.pointer {
  cursor: pointer;
  user-select: none;
}

.empty {
  width: 100%;
  max-width: 100%;
  display: flex;
}
