@import "@styles/mixins.scss";

.cont {
  position: relative;
  width: 100%;
  max-width: 100%;
  @include cute-scroll-horis(0px, false);
  @include cute-scroll(41px, false);
}

.table {
  display: grid;
  max-width: 100%;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  tr {
    display: grid;
    max-width: 100%;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
  }

  thead {
    display: block;
    position: sticky;
    z-index: 2;
    top: 0px;
    margin-bottom: var(--mantine-spacing-md);
    box-shadow: 0px 8px 10px rgba(20, 20, 20, 1);
    border-top-left-radius: var(--mantine-radius-md);
    border-top-right-radius: var(--mantine-radius-md);

    tr {
      & th {
        display: flex;
        align-items: center;
        padding: 8px;
        user-select: none;
        font-weight: 500;
        text-align: left;

        &:first-of-type {
          border-top-left-radius: var(--mantine-radius-md);
        }

        & > * {
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }
    }
  }
  tbody {
    display: block;
    tr {
      & td {
        align-items: baseline;
        display: flex;
        padding: 8px;

        &:only-child {
          margin-bottom: var(--mantine-spacing-lg);
        }
      }

      &:nth-child(2n) {
        background-color: var(--mantine-color-dark-light-hover);
      }
      &:last-of-type {
        & td:first-of-type {
          border-bottom-left-radius: var(--mantine-radius-md);
        }
      }
      &:not(:last-of-type) {
        border-bottom: 1px solid black;
      }
    }
  }
}

.pointer {
  cursor: pointer;
  user-select: none;
}

.empty {
  width: 100%;
  max-width: 100%;
  display: flex;
}
