@import "@styles/global.scss";

.wrap {
  position: fixed;
  width: 100%;
  max-width: 100%;
  top: 0;
  z-index: 4;

  & > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: $max-width;
    height: 100%;
  }

  & .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    margin-right: 32px;

    & > img {
      width: 48px;
      height: 48px;
      margin-right: 8px;
    }

    & > span {
      white-space: nowrap;
    }
  }
}
