@import "./mixins.scss";

$max-width: 1080px;
$header-height: 50px;
$footer-height: 26px;

html {
  background: none;
  height: 100%;
  min-height: 100%;
  overflow-y: hidden;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  user-select: none;
  background: var(--mantine-color-dark-9);
  height: 100%;
  min-height: 100%;
  @include cute-scroll($header-height);
  padding-top: env(safe-area-inset-top);
  -webkit-tap-highlight-color: transparent;
}

#app {
}

main {
  display: flex;
  height: 100%;
  min-width: 0;
  max-width: $max-width;
  width: 100%;
  margin: $header-height auto $footer-height auto !important;
  overflow: auto;
  //   overflow-x: auto;

  & > section {
    min-width: 0;
    flex: 0 1 auto;
    width: 100%;
  }
}

svg {
  display: block;
}

a {
  text-decoration: none;

  &:visited {
    @extend a;
  }
}

.box-main {
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  padding-top: var(--mantine-spacing-sm);
  padding-bottom: var(--mantine-spacing-sm);

  @media (min-width: 48em) {
    padding-left: var(--mantine-spacing-xl);
    padding-right: var(--mantine-spacing-xl);
    padding-top: var(--mantine-spacing-lg);
    padding-bottom: var(--mantine-spacing-lg);
  }
  @media (min-width: 58em) {
    padding-left: calc(48px + var(--mantine-spacing-md));
  }
  @media (min-width: 80em) {
    padding-left: var(--mantine-spacing-md);
  }
}

.hide {
  display: none;
}

.mantine-Modal-root {
  .mantine-Modal-header {
    z-index: 3 !important;
  }
}

.mantine-Modal-content {
  @include cute-scroll(0);
}

.mantine-Drawer-content {
  overflow: visible !important;
}

.mantine-Drawer-header {
  z-index: 5;
}

.mantine-Combobox-dropdown {
  @include cute-scroll(0px);
}

.mantine-Notifications-notification {
  min-height: 32px;
}

.mantine-Carousel-indicators {
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  padding: 5px;
  border-radius: 1.25rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.mantine-Carousel-indicator {
  width: 4px !important;
  height: 4px !important;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: width 250ms ease;

  &[data-active] {
    background-color: white;
  }
}
