@mixin cute-scroll($trackStart, $colored: false, $auto: false) {
  overflow-y: auto;
  @if $auto {
    left: auto !important;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-track-piece:start {
    background-color: transparent;
    margin-top: $trackStart;
  }
  &::-webkit-scrollbar-track-piece:end {
    background-color: transparent;
  }
  &::-webkit-scrollbar-corner {
    border-radius: 4px;
    width: 6px;
    height: 6px;
    background-color: transparent;
  }
  @if $colored {
    &::-webkit-scrollbar-thumb {
      background-color: var(--mantine-color-yellow-8);
    }
  } @else {
    &::-webkit-scrollbar-thumb {
      background-color: var(--mantine-color-dark-4);
    }
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
  }
}

@mixin cute-scroll-horis($trackStart, $colored: false) {
  overflow-x: auto;
  top: auto !important;

  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-track-piece:start {
    background-color: transparent;
    margin-left: $trackStart;
  }
  &::-webkit-scrollbar-track-piece:end {
    background-color: transparent;
  }
  &::-webkit-scrollbar-corner {
    border-radius: 4px;
    width: 6px;
    height: 6px;
    background-color: transparent;
  }
  @if $colored {
    &::-webkit-scrollbar-thumb {
      background-color: var(--mantine-color-yellow-8);
    }
  } @else {
    &::-webkit-scrollbar-thumb {
      background-color: var(--mantine-color-dark-4);
    }
  }
}
