.selectables {
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-gap: var(--mantine-spacing-xs);
  grid-auto-flow: row;

  & > div {
    grid-column: span 6;
    &:nth-of-type(3) {
      grid-row-start: 2;
    }
  }

  @media (min-width: 48em) {
    display: flex;
    flex-flow: row nowrap;

    & > div {
      flex: 0 1 auto;
    }
  }
}
