.w70 {
  width: 100%;

  @media (min-width: 48em) {
    width: 70%;
  }
}

.w70col {
  width: 100%;
  flex-direction: column;

  & > div {
    flex: 1 1 auto;
  }

  @media (min-width: 48em) {
    width: 70%;
    flex-direction: row;

    & > div {
      flex: 0 1 48%;
    }
  }
}
