.root {
  position: absolute;
  display: flex;
  padding: 10px;
}

.inner {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-md);
  background-color: var(--mantine-color-dark-6);
  overflow: hidden;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

// .male {
//   background: #74deff;
// }

// .female {
//   background: #ff7979;
// }

.isTarget {
  //   border: 3px solid rgba(0, 0, 0, 0.4);
  box-shadow: #9382ff 0px 0px 4px 4px !important;
}

.isHover {
  border-color: rgba(0, 0, 0, 0.8);
}

.sub {
  position: absolute;
  top: 6px;
  right: 14px;
  width: 14px;
  height: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 0;
  background: #fff;
}

.sub.male {
  background: #ff7979;
}

.sub.female {
  background: #74deff;
}

.overflowed {
  -webkit-mask-image: linear-gradient(to bottom, rgba(46, 46, 46, 1) 75%, rgba(0, 0, 0, 0));
}
